.date-input {
	
	width: 100%;
	height: 100%;

	max-width: 200px;
	max-height: 35px;

	&__container {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;

		&__input {
			flex-grow: 1;
			min-width: 50px;
		}

		&__buttom {
			flex-grow: 0;
			width: 25px;
		}
	}
}
